<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnpmcs.quanlishoppmcs">
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="Quản lý shop"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.cnpmcs.quanlishoppmcs.MainActivity"
            android:label="Quản lý shop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.cnpmcs.quanlishoppmcs.ProductAdd"></activity>
        <activity android:name="com.example.cnpmcs.quanlishoppmcs.ProductEdit"></activity>
        <activity android:name="com.example.cnpmcs.quanlishoppmcs.ProductType"></activity>
        <activity android:name="com.example.cnpmcs.quanlishoppmcs.PersonAdd"></activity>
        <activity android:name="com.example.cnpmcs.quanlishoppmcs.PersonEdit"></activity>
        <activity android:name="com.example.cnpmcs.quanlishoppmcs.PersonType"></activity>
        <activity android:name="com.example.cnpmcs.quanlishoppmcs.BillDetail"></activity>
    </application>

</manifest>